form&attributes(attributes)
  if fields.length > 0
    each field in fields
      div
        | !{field.render()}
  if buttons.length > 0
    div
      each button in buttons
        | !{button.render()}
