span.form_label= label.text

each value in values, index
  label&attributes(label.attr())= value
  input&attributes(attributes)(value=value, id=attributes.id + index)

if errors
  each error in errors
    span.form_error= error.message
