if field.label
  | !{field.label.render()}

each choice in field.choices
  input&attributes(choice.attributes)= choice.text
  if choice.label
    | !{choice.label.render()}

if field.error && field.error.message
  span.form_error= error.message
