if field.label
  | !{field.label.render()}
select&attributes(field.attributes)
  each ofield in field.fields
    | !{ofield.render()}

if field.errors
  each error in field.errors
    span.form_error= error.message
